.Footer {
    background-color: #6c757d;
    padding-top: 20px;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    position: fixed;
}
.footer-link {
    color: #032853;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: none;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .footer-link ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-link a {
    color: #fff;
    background-color: #032853; /* Cambia el background de los iconos */
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 20px;
  }
  
  .footer-link a:hover {
    background-color: #555; /* Cambia el background al pasar el ratón */
  }
  
  .footer-link i {
    font-size: 30px;
  }

  .logo{
    max-width: 200px;
    max-height: 200px;
    margin-left: 100px;
    margin-top: -10px;
  }

  .divider{
    background-color: #032853;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .dividerTextosLegales{
    background-color: #032853;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

@media screen and (max-width: 768px) {
    .Footer {
        width: 100%;
        padding-bottom: 10px;
        position: relative;
    }
    body, html {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }
      .logo{
        max-width: 200px;
        max-height: 200px;
        margin-left:0px !important;
      }
      .dividerTextosLegales{
        margin-left:15px !important;
        width: 93% !important;
      }
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    .Footer {
        width: 100%;
        position: relative;
    }
    body, html {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }
      .logo{
        max-width: 200px;
        max-height: 200px;
        margin-left:40px !important;
      }
      .contactInfo{
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .dividerTextosLegales{
        margin-left:15px !important;
        width: 97% !important;
      }
  }